---
import ListarProductos from "@components/ListarProductos.astro";
import Layout from "@layouts/Layout.astro";
import { cargarProductos } from "@utils/loadCSV";
import { countCategories } from "@utils/countCategories";
import { config } from "src/config";
import SideBardCategories from "@components/SideBardCategories.astro";
import type { subCategory } from "src/types/categoryList";

/** Genera los archivos html por cada categoría */
export const getStaticPaths = () => {
  const CANT_PRODUCTOS = config.postPerPage;
  const products = cargarProductos();
  const categories = countCategories(products);

  return categories.flatMap((c) => {
    const subcategoryMap = new Map<string, subCategory>();
    if (c.subcategories.length > 0) {
      c.subcategories.forEach((subC) => {
        if (!subcategoryMap.has(subC.name))
          subcategoryMap.set(subC.name, { ...subC });
      });
    }

    const productsPerCat = products.filter((p) => p.categories.name === c.name);

    const totalPages = Math.ceil(productsPerCat.length / CANT_PRODUCTOS);

    return Array.from({ length: totalPages }, (_, i) => {
      const start = i * CANT_PRODUCTOS;
      const end = start + CANT_PRODUCTOS;

      return {
        params: { id: c.name, pag: i + 1 },
        props: {
          products: productsPerCat.slice(start, end),
          subCat: Array.from(subcategoryMap.values()),
          totalPages,
        },
      };
    });
  });
};

const { id, pag } = Astro.params;
const { products, totalPages, subCat } = Astro.props;
const baseUrl = `${config.base}/categories/${id}`;
---

<Layout
  categorySelected={id}
  pageTitle={`${config.pageTitle} - ${id} / page ${pag}`}
  pageId="categories"
>
  <div class="subCategories__container">
    <SideBardCategories
      categoryFather={id}
      arrayCategorys={subCat}
      products={products}
    />
    <ListarProductos
      products={products}
      totalPages={totalPages}
      actualPage={pag}
      baseURL={baseUrl}
    />
  </div>
</Layout>

<style>
  .subCategories__container {
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
  }
</style>
