---
import ListarProductos from "@components/ListarProductos.astro";
import Layout from "@layouts/Layout.astro";
import { loadProducts } from "@utils/loadProducts";
import { countCategories } from "@utils/countCategories";
import { productMatchesCategory } from "@utils/categoryNormalization";
import { config } from "src/config";
import SideBardCategories from "@components/SideBardCategories.astro";
import { withBasePath } from "@utils/basePath";
import type { subCategory } from "src/types/categoryList";
import "../../style.css";

const CANT_PRODUCTOS = config.postPerPage;
const allProducts = await loadProducts();
const { id, pag } = Astro.params;
const categories = countCategories(allProducts);

const category = categories.find((c) => c.name === id);
const subcategoryMap = new Map<string, subCategory>();
if (category?.subcategories.length) {
  category.subcategories.forEach((subC) => {
    if (!subcategoryMap.has(subC.name))
      subcategoryMap.set(subC.name, { ...subC });
  });
}

const productsPerCat = allProducts.filter((p) => productMatchesCategory(p, id!));

const totalPages = Math.ceil(productsPerCat.length / CANT_PRODUCTOS);
const pageNum = Number(pag);
const start = (pageNum - 1) * CANT_PRODUCTOS;
const products = productsPerCat.slice(start, start + CANT_PRODUCTOS);
const subCat = Array.from(subcategoryMap.values());
const baseUrl = withBasePath(`/categories/${id}`, Astro.url.pathname);
---

<Layout
  categorySelected={id}
  pageTitle={`${config.pageTitle} - ${id} / page ${pag}`}
  pageId="categories"
>
  <div class="categories__container">
    <SideBardCategories
      categoryFather={id}
      arrayCategorys={subCat}
      products={products}
    />
    <ListarProductos
      products={products}
      totalPages={totalPages}
      actualPage={pag}
      baseURL={baseUrl}
    />
  </div>
</Layout>
