---
import type Product from "../types/product";
import { config } from "../config";

export interface Props {
  producto: Product;
}

const { producto: p } = Astro.props;
---

<article class="producto-card">
  <a href={`${config.base}/producto/${p.id}`}>
    <img src={p.img} alt={p.name} width="150" />
    <h2>{p.name}</h2>
  </a>
  <p>Precio: ${p.price}</p>
  <p>Categorías: {p.categories.join(", ")}</p>
</article>

<style>
  .producto-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 300px;
  }
</style>
