---
import type Product from "../types/product";
import { config } from "../config";

export interface Props {
  producto: Product;
}

const { producto: p } = Astro.props;
---

<article class="producto_card">
  <a href={`${config.base}/producto/${p.id}`}>
    <img src={p.img[0]} alt={p.name} />
    <p>{p.name}</p>
  </a>
  <span class="price"><strong>${p.price}</strong></span>
  <div class="categories">
    {
      p.categories.map((c) => (
        <a href={`${config.base}/categories/${c}`} class="categoryTag">
          {c}
        </a>
      ))
    }
  </div>
</article>

<style>
  .producto_card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 300px;
  }
  .producto_card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }
</style>
