---
import { cargarProductos } from "../../utils/loadCSV";
import Layout from "../../layouts/Layout.astro";
import { config } from "../../config";

export function getStaticPaths() {
  const productos = cargarProductos();
  return productos.map((p) => {
    const { id, ...rest } = p;
    return {
      params: { id },
      props: { ...rest },
    };
  });
}

const { name, img, price, categories, paymentLink } = Astro.props;
---

<Layout>
  <main>
    <a href={config.base}>← Volver</a>
    <h2>{name}</h2>
    <img src={img} alt="" width="150px" />
    <span>${price}</span>
    <p>{categories.join(", ")}</p>

    <a href={paymentLink} target="_blank" rel="noopener noreferrer">comprar</a>
  </main>
</Layout>
