---
import { cargarProductos } from "../../utils/loadCSV";
import Layout from "../../layouts/Layout.astro";
import { config } from "../../../astro.config.mjs";

export function getStaticPaths() {
  const productos = cargarProductos();
  return productos.map((p) => {
    const { id, ...rest } = p;
    return {
      params: { id },
      props: { ...rest },
    };
  });
}

const { producto, imagen, precio, categorias, linkPago } = Astro.props;
---

<Layout>
  <main>
    <a href={config.base}>← Volver</a>
    <h2>{producto}</h2>
    <img src={imagen} alt="" width="150px" />
    <span>${precio}</span>
    <p>{categorias.join(", ")}</p>

    <a href={linkPago} target="_blank" rel="noopener noreferrer">comprar</a>
  </main>
</Layout>
