---
import { cargarProductos } from "../../utils/loadCSV";
import Layout from "../../layouts/Layout.astro";
import { config } from "../../config";

export function getStaticPaths() {
  const productos = cargarProductos();
  return productos.map((p) => {
    const { id, ...rest } = p;
    return {
      params: { id },
      props: { ...rest },
    };
  });
}

const { name, img, price, categories, paymentLink } = Astro.props;
---

<Layout>
  <section class="productContainer">
    <div class="infoBox">
      <h2>{name}</h2>

      <div class="categories">
        {
          categories.map((c) => (
            <a href={`${config.base}/categories/${c}`} class="categoryTag">
              {c}
            </a>
          ))
        }
      </div>

      <span class="price">${price}</span>

      <a
        href={paymentLink}
        target="_blank"
        rel="noopener noreferrer"
        class="paymentLink"
        id="paymentLink">comprar</a
      >
    </div>

    <div class="imgContainer">
      <img src={img} alt="" />
    </div>
  </section>
</Layout>

<style>
  .imgContainer {
    max-width: 500px;
  }
  .imgContainer img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .price {
    display: block;
  }
</style>
