---
import Layout from "@layouts/Layout.astro";
---

<Layout pageId="index">
  <div class="categories__container">
    <section class="listaProductos">
      <div class="listaPorductos">
        <div id="result"></div>
      </div>
    </section>
  </div>
</Layout>

<style>
  .categories__container {
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
  }

  section {
    flex: 1;
  }

  #result {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: start;
    justify-content: center;
    gap: 1rem;
  }

  :global(#result article) {
    width: var(--product-square-size);
  }
</style>

<style is:global>
  #result article {
    --radius-size: 0.2rem;
    --background-color: var(--principal-background-color);
    --secondary-color: var(--principal-background-color-dark);
    --text-color: var(--principal-text-color);
    --width: 300px;
  }

  #result article:hover .h-bg {
    left: 0px;
  }
  #result article:hover .price {
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #818181;
  }
  #result article:hover .go-to-product {
    left: 50%;
  }
  #result article:hover .box-up img {
    webkit-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
    opacity: 0.4;
  }
  #result article:hover .info-inner {
    bottom: 100px;
    background-color: transparent;
  }

  #result .producto_card {
    width: 100%;
    padding: 15px;
    margin-bottom: 1.5rem;

    border: none;
    border-radius: var(--radius-size);
    background: var(--background-color);
    box-shadow:
      0 4px 24px 0 rgba(163, 174, 214, 0.12),
      0 1.5px 6px 0 rgba(163, 174, 214, 0.1);
    transition:
      transform 0.18s,
      box-shadow 0.18s;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #result .cart-box {
    position: absolute;
    right: 30px;
    top: 25px;
  }

  /* BOX UP */
  #result .box-up {
    width: 100%;
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  #result img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: var(--radius-size) var(--radius-size) 0 0;

    box-shadow: 0 2px 8px #a7c7e733;
    background: #fff;

    /* padding: 20px 0; */
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
  }

  #result .info-inner {
    -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    position: absolute;
    width: 100%;
    bottom: 25px;
    background-color: rgb(255 255 255 / 40%);
  }
  #result .info-inner * {
    display: block;
  }
  #result .info-inner .p-name {
    margin: 0 1rem;
  }
  #result .info-inner .p-categories {
    text-transform: uppercase;
    font-size: 12px;
    color: #8c8c8c;
  }

  /* BOX DOWN */
  #result .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;
  }

  #result .h-bg {
    -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    width: 660px;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    left: -659px;
  }
  #result .h-bg .h-bg-inner {
    width: 50%;
    height: 100%;
    background-color: var(--principal-text-color);
  }
  #result button.price-box {
    border: none;
    cursor: pointer;
    background: transparent;
  }
  #result .price-box {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-weight: 700;

    text-decoration: none;
    color: var(--text-color);
  }
  #result .price-box .price {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 16px;
    /* color: #252525; */
  }
  .price-box .go-to-product {
    -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
    /* ease-out */
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    display: block;
    position: absolute;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .price-box .go-to-product .txt {
    color: var(--background-color);
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.045em;
  }

  @media screen and (min-width: 1000px) {
    #result .producto_card {
      width: var(--width);
      margin-bottom: 0;
    }
    #result .cart-box {
      position: initial;
      width: 100%;
      padding-top: 10px;
    }
  }
</style>
<!-- <script>
  import DOMPurify from "dompurify";
  import type Product from "src/types/product";
  const section = document.querySelector(
    "section.listaProductos",
  ) as HTMLDivElement;

  const resultRen = document.getElementById("result") as HTMLDivElement;
  const spanQuery = document.getElementById("query") as HTMLSpanElement;
  const spanCantidad = document.getElementById(
    "cantidadResultados",
  ) as HTMLSpanElement;

  const PRODUCTOS_POR_PAGINA = 5;

  window.addEventListener("DOMContentLoaded", () => {
    const url = new URLSearchParams(window.location.search);

    const searchValue = url.get("q") || "vacío";
    const pageValue = url.get("p") || "1";
    if (!url || !searchValue || resultRen === null) return;
    spanQuery.textContent = `"${searchValue}"`;

    const urlParams = DOMPurify.sanitize(searchValue);
    const urlPage = Number(DOMPurify.sanitize(pageValue));

    fetchSearchResult(urlParams, urlPage);
  });

  async function fetchSearchResult(
    search: string,
    pageValue: number,
  ): Promise<void> {
    if (search.length === 0) return;

    try {
      const res = await fetch("/productos.json");
      if (!res.ok) throw new Error("Algo salio mal");

      const data = (await res.json()) as Product[];

      const result = data.filter((d) =>
        d.name.toLocaleLowerCase().includes(search),
      );

      spanCantidad.textContent = `${result.length}`;
      const paginas = Math.ceil(result.length / PRODUCTOS_POR_PAGINA);

      // --- paginar ---
      const inicio = (pageValue - 1) * PRODUCTOS_POR_PAGINA;
      const fin = inicio + PRODUCTOS_POR_PAGINA;
      result.slice(inicio, fin).map(renderComponent);

      if (paginas > 1) agregarPaginacion(paginas, pageValue);
    } catch (e) {
      console.error(e);
    }
  }

  function renderComponent(item: Product): void {
    const article = document.createElement("article") as HTMLDivElement;
    article.classList.add("producto_card");

    const img = document.createElement("img") as HTMLImageElement;
    img.src = item.img[0];
    img.width = 200;
    img.height = 200;

    const span = document.createElement("span");
    span.textContent = item.name;

    article.appendChild(img);
    article.appendChild(span);

    resultRen.appendChild(article);
  }

  function agregarPaginacion(cantidadDePaginas: number, pagina: number): void {
    const url = new URLSearchParams(window.location.search);
    const paginador = document.createElement("div");
    paginador.classList.add("paginador");

    const actualizarURL = (nuevaPagina: number) => {
      if (nuevaPagina < 1) nuevaPagina = 1;
      if (nuevaPagina > cantidadDePaginas) nuevaPagina = cantidadDePaginas;

      url.set("p", nuevaPagina.toString());
      window.location.search = url.toString();
    };

    const btnPrimero = document.createElement("button");
    btnPrimero.textContent = "<<";
    if (pagina <= 1) btnPrimero.disabled = true;
    btnPrimero.title = "Primero";
    btnPrimero.onclick = () => actualizarURL(1);

    const btnAnterior = document.createElement("button");
    btnAnterior.textContent = "<";
    if (pagina <= 1) btnAnterior.disabled = true;
    btnAnterior.title = "Anterior";
    btnAnterior.onclick = () => actualizarURL(pagina - 1);

    const btnSiguiente = document.createElement("button");
    btnSiguiente.textContent = ">";
    if (pagina >= cantidadDePaginas) btnSiguiente.disabled = true;
    btnSiguiente.title = "Siguiente";
    btnSiguiente.onclick = () => actualizarURL(pagina + 1);

    const btnUltimo = document.createElement("button");
    btnUltimo.textContent = ">>";
    if (pagina >= cantidadDePaginas) btnUltimo.disabled = true;
    btnUltimo.title = "Último";
    btnUltimo.onclick = () => actualizarURL(cantidadDePaginas);

    // Agregar los botones al div
    paginador.append(btnPrimero, btnAnterior, btnSiguiente, btnUltimo);
    section.append(paginador);
  }
</script> -->

<script>
  import Fuse from "fuse.js";

  const BASE_URL = import.meta.env.BASE_URL;
  const params = new URLSearchParams(window.location.search);
  const urlQuery = params.get("q");

  const fuse = new Fuse(window.productos, {
    keys: [
      "name",
      "description",
      "id",
      "categories.name",
      "categories.subcategories.name",
    ],
    threshold: 0.3,
  });

  if (urlQuery) {
    const results = fuse.search(urlQuery);

    const resultContainer = document.querySelector("#result") as HTMLElement;

    if (results.length === 0) {
      resultContainer.innerHTML = `
        <div class="centerBox">
          <h3>Sin resultados para la busqueda: ${urlQuery}</h3>
          <a class="postLink" href="${BASE_URL}">volver</a>
        </div>
      `;
    } else {
      resultContainer.innerHTML = results
        .map(
          (product) => `
            <article class="producto_card">
              <div class="box-up">
                <img src="${product.item.img}" alt="${product.item.name}" />
                <div class="img-info">
                  <div class="info-inner">
                    <span class="p-name">${product.item.name}</span>
                    <span class="p-categories">
                      ${product.item.categories.name}
                    </span>
                  </div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a
                  href="${BASE_URL}/producto/${product.item.id}"
                  class="price-box"
                  title="Ir a comprar"
                >
                  <span class="price">${product.item.price}</span>
                  <span class="go-to-product">
                    <span class="txt">Comprar</span>
                  </span>
                </a>
              </div>

              <div class="cart-box">
                <AddToCartButton producto={p} />
              </div>
            </article>
          `,
        )
        .join("");
    }
  }
</script>
